.subscribe-area {
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0 10px 12px rgba(77, 60, 160, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-subscribe {
    background: #009688;
    border-radius: .2rem;
    border: 0;
    color: white;
    padding: 12px 25px;
}

.sbs-area-inp {
    padding: 10px;
    border: 1px solid gainsboro;
    outline: none;
    border-radius: 5px;
}

.section-subscribe {
    background: #4b5698;
}

.section-subscribe .title {
    color: white;
}

.sbs-description {
    color: #e6e6e6;
}

@media (max-width:500px) {
    .search-area {
        justify-content: center;
        flex-wrap: wrap;
    }
    .find-search {
        top: 350px !important;
    }
}

@media (max-width:990px) {
    .sbs-area-inp {
        display: block;
        margin-bottom: 10px;
    }
}